<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Shri Sokka">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body onload = "addYear(); activeNav()">
<div class="container">
   <header class="header">
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
    </header>
    <nav class="nav_bar">
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="buytickets.html">Buy Tickets</a>
    </nav>
    <main class="main">
        <table>
            <tr>
                <th>Ticket Type</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            <tr>
                <td>Adult</td>
                <td>Gen. Admission for 18+. Under 18 is free</td>
                <td>$18</td>
            </tr>
            <tr>
                <td>Student</td>
                <td>Student ID required</td>
                <td>$10</td>
            </tr>
            <tr>
                <td>Member</td>
                <td>Member card required</td>
                <td>$15</td>
            </tr>
        </table><br>

    <h3>April 2026 Schedule</h3>
    <table>
        <tr>
            <th>Date</th>
            <th>Hours</th>
            <th></th>
        </tr>
        <tr>
            <td>April 10</td>
            <td>5:00 P.M. - 10:00 P.M.</td>
        </tr>
        <tr>
            <td>April 11</td>
            <td>11:00 A.M. - 9:00 P.M.</td>
        </tr>
        <tr>
            <td>April 17</td>
            <td>5:00 P.M. - 10:00 P.M.</td>
        </tr>
        <tr>
            <td>April 18</td>
            <td>11:00 A.M. - 9:00 P.M.</td>
        </tr>
        <tr>
            <td>April 24</td>
            <td>5:00 P.M. - 10:00 P.M.</td>
        </tr>
        <tr>
            <td>April 25</td>
            <td>11:00 A.M. - 9:00 P.M.</td>
        </tr>
    </table>

    <button id = "buyTickets" onclick="showForm()">Buy Tickets</button>
        
    <form id="checkoutForm" action="/67250_techproject_phaseb_ssokka/ssokka-increment1/index.html">
        <label for ="date">Date: (required)</label><br>
        <input type="checkbox" id="date" name="date">
        <label for="date">Apr. 10</label>
        <input type="checkbox" id="date" name="date">
        <label for="date">Apr. 11</label>
        <input type="checkbox" id="date" name="date">
        <label for="date">Apr. 17</label>
        <input type="checkbox" id="date" name="date">
        <label for="date">Apr. 18</label>
        <input type="checkbox" id="date" name="date">
        <label for="date">Apr. 24</label>
        <input type="checkbox" id="date" name="date">
        <label for="date">Apr. 25</label> <br><br>
        <label for ="name">Name: (required)</label><br>
        <input type="text" id="name" name="name">
            <br><br>
        <label for="email">Email: (required)</label><br>
        <input type="text" id="email" name="email">
            <br><br>
        <label for="quantity">Ticket Quantity: (required)</label><br>
        <input type="text" id="quantity" name="quantity">
            <br><br>
        <input type="submit" value="Submit" onclick="boughtForm()">
    </form>

    <button id="cancel" onclick="hideForm()">Cancel</button>
    <br>
    </main>
    <figure class="main_figure"></figure>
    <footer class="footer"><p id = "copyYear">© MonoMuse. All rights reserved.</p></footer>
</div>
</body>
</html>