<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Shri Sokka">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>
</head>
<body onload = "addYear(); activeNav()">
<div class="container">
    <header class="header">
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
        <img src = "../static/museum_img.jpg" alt = "museum image" width = "500" height = "250">
    </header>
    <nav class="nav_bar">
        <a href="../index.html">Home</a>
        <a href="explore.html">Explore</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="buytickets.html">Buy Tickets</a>
    </nav>
    
    <main class = "main">
        <h2>Mission Statement</h2>
        <p>
            Since 1993, we have sought to provide the public with access with
            wide range of contemporary art. We have placed a special emphasis 
            on the role of technology in the creation, display, and research of
            art.
        </p>

        <h2>Milestones</h2>
        <ul>
            <li>2025: Established the Center of Interactive Arts for digital installations</li>
            <li>2020: Hosted the Digital Art Symposium, featuring numerous prolific artists and critics</li>
            <li>2010: Creation of the Mellon Center for Digital Humanities</li>
            <li>2002: Aquisition of classic oil painting, "Boy With Apple"</li>
            <li>1993: MonoMuse opens its doors to the public</li>
        </ul>


    </main>
    <figure class="main_figure"></figure>
    <footer class="footer"><p id = "copyYear">© MonoMuse. All rights reserved.</p></footer>
    
</div>
</body>
</html>