<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="Shri Sokka">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img id="logo" src="../static/monomuselogo.png" alt="MonoMuse Museum Logo"> 
        <nav>
            <a href="index.html">Home</a>
            <a href="views/explore.html">Explore</a>
            <a id = "navselected" href="views/exhibitions.html">Exhibitions</a>
            <a href="views/tickets.html">Buy Tickets</a>
            <a href="views/checkout.html">Checkout</a>
        </nav>
    </header>

    <div class = "main">
        <h3>Exhibition 1: Data and Dreams: The beauty of data visualization</h3>
        <p>
            This exhibition brings the work of globally acclaimed designers together <br>
            to celebrate interesting and impactful uses of data visualization, an <br>
            underrated discipline and art form that fuses math, science, data science
            and art.
        </p>
        <h3>Exhibition 2: Science (Non)fiction: Retrofuturism brought to life</h3>
        <p>
            For this exhibition, we tasked numerous teams comprised of industrial designers, <br>
            mechanical engineers, science fiction artists, and more, to bring the theoretical inventions<br>
            of the past to the 21st century. Enjoy a vast array of contraptions from rayguns <br>
            to "floating" cars in this interdisciplinary show of art and science.

        </p>

    </div>

    <footer>© 2026 MonoMuse. All rights reserved.</footer>
    
</body>
</html>